<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Angular Demo Site</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li> -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Bootstrap Samples
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/bootstrap-samples">Bootstrap Samples</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/layouts">Bootstrap Layouts</a>
          <a class="dropdown-item" routerLink="/buttons">Bootstrap Buttons</a>
          <a class="dropdown-item" routerLink="/navbars">Bootstrap Navbars</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item disabled" >Bootstrap Forms</a>
          <a class="dropdown-item disabled" >Bootstrap Drag and Drop</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Data Binding</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Routing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/todolist">Todolist</a>
      </li>
    </ul>
  </div>
</nav>